/main/
/.tmp-smoke/
/.tmp-smoke2/
/node_modules/
**/.temp-*/

*.mp4
*.mkv
*.webm
*.avi
*.mov
*.wmv
*.flv
*.m4v
*.mpg
*.mpeg
*.3gp
*.ts
*.m2ts
*.vob
*.ogv
*.rm
*.rmvb

*.mp3
*.wav
*.flac
*.aac
*.m4a
*.ogg
*.oga
*.wma
*.aiff
*.alac
*.opus
*.mid
*.midi

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.tiff
*.tif
*.ico
*.svg
*.heic
*.heif
*.avif

*.m3u
*.m3u8
*.pls
*.cue